@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #111150;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.text-container {
  font-family: sans-serif, "Poppins";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.sub-text,
.sub2-text {
  font-size: 1rem;
  color: #cccccc;
}

.nav-links {
  display: flex;
  align-items: center;
}

.login-btn {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 4rem;
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  filter: blur(8px); /* Adjust the blur intensity here */
}

.login-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 2rem;
  width: 400px;
  margin-left: 480px;
  text-align: center;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  font-family: sans-serif, "Popppins";
}

.login-card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.3rem;
  text-align: left;
}

.login-card input {
  background-color: white; /* Sets background to white */
  color: #333;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.recaptcha {
  width: 100%;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.google_btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow:
    rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px,
    rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #2c444e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.google_btn > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.google_btn > span {
  margin-left: 10px;
}
