@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: auto;
  height: 50vh;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #111150;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.text-container {
  font-family: sans-serif, "Poppins";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.sub-text,
.sub2-text {
  font-size: 1rem;
  color: #cccccc;
}

.icon-button {
  background: none;
  border: none;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.logout-btn {
  padding: 0.5rem 1rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #0056b3;
}

.layout {
  display: flex;
  height: 100%;
  margin-top: 4rem;
}

.sidebar {
  width: 15.6vw;
  background-color: #111150;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  top: 5rem; /* Offset for navbar */
  height: calc(100vh - 5rem); /* Full height minus navbar */
}

.sidebar-btn {
  background-color: #363674;
  color: whitesmoke;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-btn:hover {
  background-color: #495057;
}

.content {
  background-color: rgb(117, 145, 215);
  margin-left: 15.6vw; /* Sidebar offset with responsive value */
  padding: 2rem;
  width: calc(100% - 15.6vw); /* Adjusts for sidebar width */
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60px; /* Offset below the navbar */
  min-height: calc(100vh - 60px); /* Viewport height minus navbar height */
  text-align: center;
}

.stat-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.stat-card {
  background-color: #ecf0f1;
  color: #000;
  padding: 20px;
  border-radius: 8px;
}

.stat-value {
  font-size: 2em;
  text-align: center;
}

.voucher-list p {
  margin: 5px 0;
}

.chart-section {
  grid-column: span 2;
  background-color: #ecf0f1;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  margin-top: 75px;
}
